# TODO: parametrize this process with fonts as font-name: download-url
- name: Check if Hack font is installed
  ansible.builtin.stat:
    path: "{{ lookup('env', 'HOME') }}/Library/Fonts/hack"
  register: hack_font_dir

- name: Download Hack
  when: not hack_font_dir.stat.exists
  ansible.builtin.get_url:
    url: https://github.com/source-foundry/Hack/releases/download/v{{hack_version | default('3.003')}}/Hack-v{{hack_version | default('3.003')}}-ttf.tar.gz
    dest: /tmp/hack_font.tar.gz

- name: Create hack dir
  when: not hack_font_dir.stat.exists
  ansible.builtin.file:
    path: "{{ lookup('env', 'HOME') }}/Library/Fonts/hack"
    state: directory

- name: Unarchive Hack
  when: not hack_font_dir.stat.exists
  ansible.builtin.unarchive:
    src: /tmp/hack_font.tar.gz
    dest: "{{ lookup('env', 'HOME') }}/Library/Fonts/hack"
    remote_src: yes

- name: Check if Nerd Font Symbols is installed
  ansible.builtin.stat:
    path: "{{ lookup('env', 'HOME') }}/Library/Fonts/nerd_font_symbols"
  register: nerd_font_dir

- name: Download Nerd Font Symbols
  when: not nerd_font_dir.stat.exists
  ansible.builtin.get_url:
    url: https://github.com/ryanoasis/nerd-fonts/releases/download/v{{nerd_symbols_version | default('3.0.1')}}/NerdFontsSymbolsOnly.zip
    dest: /tmp/nerd_font_symbols.zip

- name: Create Nerd Font Symbols dir
  when: not nerd_font_dir.stat.exists
  ansible.builtin.file:
    path: "{{ lookup('env', 'HOME') }}/Library/Fonts/nerd_font_symbols"
    state: directory

- name: Unarchive Nerd Font Symbols
  when: not nerd_font_dir.stat.exists
  ansible.builtin.unarchive:
    src: /tmp/nerd_font_symbols.zip
    dest: "{{ lookup('env', 'HOME') }}/Library/Fonts/nerd_font_symbols"
    remote_src: yes
