- name: Install other tools (tmux, fzf, rg, etc.)
  community.general.homebrew:
    name:
      - tmux
      - tmuxp
      - fzf
      - ripgrep
      - fd
      - zoxide
      - git-absorb
    state: latest

# tmux plugin manager
- name: Check if tpm folder already exists
  ansible.builtin.stat:
    path: "{{tmux_plugins_path | default('~/.tmux/plugins/')}}/tpm"
  register: tpm_path

- name: Clone tpm from git
  ansible.builtin.git:
    force: true
    repo: https://github.com/tmux-plugins/tpm.git
    dest: "{{tmux_plugins_path | default('~/.tmux/plugins/')}}/tpm"

- name: tpm repository cloned
  ansible.builtin.debug:
    msg: "tpm repository cloned to {{ tmux_plugins_path }}, install the plugin by updating configs with chezmoi and running tmux prefix + I"
  when: tpm_path.stat.isdir is defined and tpm_path.stat.isdir

# bottom
- name: Download bottom
  community.general.homebrew:
    name: bottom
    state: present

# chezmoi
- name: Download chezmoi
  community.general.homebrew:
    name: chezmoi
    state: present

# just
- name: Install just (modern make)
  community.general.homebrew:
    name: just
    state: present

# pre-commit
- name: Install pre-commit via pipx
  ansible.builtin.command: pipx install pre-commit
  args:
    creates: "{{lookup('env', 'HOME')}}/.local/bin/pre-commit"

# Starship
- name: Install Starship
  community.general.homebrew:
    name: starship
    state: present